<div class="min-h-screen bg-emerald-900">
  <!-- MARK: HEADER -->
  <app-header></app-header>

  <!-- MARK: BIG -->
  <div class="grid grid-cols-5 gap-4 py-4 px-8">
    <app-big-link inputLink="linked-big"></app-big-link>
    <app-big-link inputLink="linked-big"></app-big-link>
    <app-big-link inputLink="linked-big"></app-big-link>
    <app-big-link inputLink="linked-big"></app-big-link>
    <app-big-link inputLink="linked-big"></app-big-link>
  </div>

  <!-- MARK: GROUPED -->
  <div class="grid grid-cols-4 gap-4 py-4 px-8">
    <app-link-group></app-link-group>
    <app-link-group></app-link-group>
    <app-link-group></app-link-group>
    <app-link-group></app-link-group>
  </div>

  <!-- MARK: BANNER -->
  <app-banner></app-banner>
</div>
